.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

.menuToggle {
    justify-content: left;
    gap: 10px;
    text-transform: none;
    min-width: 100%;
    font-weight: 500;
    margin: 4px;
    font-size: 14px;
    color: #333333;
}

.headerNotCollapsed {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    z-index: 5;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 80%;
    background-color: #212121;
    box-shadow: 0px 10px 13px -9px rgba(51,51,51,0.57);
}

.tabContainer {
    position: relative;
    cursor: pointer;
}

.header {
    .selected, .notSelected, .logout, .chip {
        display: none;
    }
}

.headerNotCollapsed {
    .chip {
        width: 80px;
        text-transform: capitalize;
        color: #2ecc71;
        border-color: #2ecc71;
        font-family: 'Poppins', sans-serif;
        height: 20px;
    }
    
    .notSelected {
        justify-content: left;
        gap: 10px;
        text-transform: none;
        min-width: 100%;
        font-weight: 500;
        margin: 4px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #666666;
    }
    
    
    .selected {
        justify-content: left;
        gap: 10px;
        text-transform: none;
        min-width: 100%;
        position: relative;
        font-weight: 500;
        margin: 4px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #5dade3;
    }
    
}

.circle {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-color: #5dade3;
    border-radius: 50%;
}

.logoutContainer {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.logout {
    justify-content: left;
    gap: 10px;
    text-transform: none;
    position: relative;
    margin: 4px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #e74c3c;
}

@media (min-width: 768px) {
    .header {
        height: 100vh;
        width: 50px;
        background-color: #212121;
        box-shadow: 0px 10px 13px -9px rgba(51,51,51,0.57);
    }

    .headerNotCollapsed {
        width: 300px;
    }
    
    .tabContainer {
        position: relative;
        cursor: pointer;
    }
    
    .header {
        .notSelected, .selected, .logout {
            display: flex;
        }
    }

    .notSelected {
        justify-content: left;
        gap: 10px;
        text-transform: none;
        min-width: 100%;
        font-weight: 500;
        margin: 4px;
        font-size: 14px;
        color: #666666;
    }
    
    
    .selected {
        justify-content: left;
        gap: 10px;
        text-transform: none;
        min-width: 100%;
        position: relative;
        font-weight: 500;
        margin: 4px;
        font-size: 14px;
        color: #5dade3;
    }
    
    .circle {
        position: absolute;
        left: 0;
        bottom: -2px;
        right: 0;
        margin: 0 auto;
        margin-top: 4px;
        width: 10px;
        height: 10px;
        background-color: #5dade3;
        border-radius: 50%;
    }
    
    .enterpriseName {
        margin: 0;
    }
    
    .logoutContainer {
        position: absolute;
        bottom: 20px;
        cursor: pointer;
    }
    
    .logout {
        justify-content: left;
        gap: 10px;
        text-transform: none;
        position: relative;
        font-weight: 500;
        margin: 4px;
        font-size: 14px;
        color: #e74c3c;
    }
}