.page {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.card {
    width: 90%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: #5dade275;
    border-radius: 15px;
}

.avatar {
    background-color: transparent !important;
}

.alert {
    position: fixed;
    justify-content: center;
    max-width: 70%;
    top: 10px;
    right: 10px;
}

.btnContainer {
    width: 90%;
    margin-bottom: 6px;
}

.leftButton {
    float: left;
}

.rightButton {
    float: right;
}

.noDataContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.noDataImage {
    margin-left: 10%;
    width: 80%;
    height: auto;
}

.noDataText {
    font-size: 2rem;
    font-weight: 200;
    color: #333333 !important;
}

@media (min-width: 768px) {
    .page {    
        width: 100vw;
    }
    
    .card {
        width: 600px;
    }
    
    .alert {
        max-width: 90%;
    }
    
    .noDataContainer {
        display: flex;
        flex-direction: column;
    }
    
    .noDataImage {
        width: 500px;
    }
}